{% extends "layouts/sidebar_layout.html" %}

{% block title %}Reader - Add new feed{% endblock %}

{% block content %}

<div class="feeds-list-wrapp">

    <legend>
        Add new feed
    </legend>

    {% load set_var %}
    {% set submit_button = "Add feed" %}

    {% include "templates/forms/feed.html" %}

</div>
{% endblock %}