{% extends "layouts/sidebar_layout.html" %}

{% block title %}Reader - Feeds{% endblock %}

{% block content %}

<div class="feeds-list-wrapp">

    <legend>
        Feeds
    </legend>

    <div class="feeds-list-toolbar">
        <a href="/feeds/add/" class="btn pull-right">
            Add feed
        </a>

        {% include "templates/forms/feeds_filter.html" %}
    </div>

    <table class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th style="width: 120px;">
                    Last updated
                </th>
                <th style="width: 60px;">
                    Actions
                </th>
            </tr>
        </thead>
        {% if feeds|length != 0 %}
        <tbody>
            {% for feed_id, feed_info in feeds.items %}
            <tr>
                <td>
                    <a href="{{ feed_info.site_url }}" target="_blank">
                    {{feed_info.title}}
                    </a>
                </td>
                <td>
                    {{feed_info.last_updated|date:"H:i d.m.Y"}}
                </td>
                <td style="text-align: center;">
                    <div class="actions">
                        <span class="feed-info" data-id="{{feed_info.id}}" data-title="{{feed_info.title}}"></span>

                        <a href="{{feed_info.link}}" class="icon-file" target="_blank" title="RSS"></a>
                        <a href="/feeds/edit/{{feed_info.id}}/" class="icon-pencil" title="Edit"></a>
                        <a href="#" class="icon-remove feed-remove" title="Delete"></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>

<script type="text/javascript">
    require(['common', 'feeds-page']);
</script>

{% endblock %}