a {
    color: #1A4652;
}
body {
    padding: 40px 0 30px 0;
    background: #F1F1F1;
}
.container-out{
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.sidebar-nav {
    padding: 9px 0;
}
#nav-main-items{
    margin: 20px 0 10px 0;
}
.navbar-wrapp{
    height: auto;
    padding: 0 10px;
}
.btn-navbar{
    height: 30px;
    display: block;
    float: left !important;
    margin-top: 5px;
    border: 0px;
}
.btn-navbar .icon-bar {
    background-color: #000;
    display: block;
    height: 2px;
    width: 25px;
}

.navbar-wrapp {
    height: 0;
    overflow: hidden;
}
.menu-bar{
    padding: 0 20px;
    background: #1A4652;
    text-align: right;
    z-index: 200;
    position: fixed;
    top: 0px;
    left: 0px;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
    background: #1A4652;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a{
    background: #1A4652;
}
.navbar-inverse .btn-navbar{
    background: #1A4652;
}
.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus{
    background: #12343D;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.sidebar-nav{
    padding-top: 0px;
    padding-right: 10px;
    position: relative;
}

.row-fluid-wrapp{
    width: 100%;
    overflow: hidden;;
}
.pull-right{
    text-align: left !important;
}
.container-fluid{
    padding: 0px;
}
.content{
    min-height: 500px !important;
}

@media (max-width: 980px) {

    body{
        padding: 40px 0px !important;
    }
    .menu-bar{
        padding: 0 35px;
    }

    .navbar-text .pull-right {
        padding-left: 5px;
        padding-right: 5px;
    }

    .container-fluid .span3{
        width: 0px;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 100;
        height: 100%;
        padding-top: 50px;
        border-right: 1px solid #DDD;
        background: #fff;
        overflow: auto;
    }
    .container-fluid .span9{
        width: 100%;
        overflow: hidden;
        float: left !important;
    }

    .feed-search-bar{
        padding-right: 0px !important;
    }
}

@media (min-width: 1100px){

    .container-fluid,
    .navbar .container,
    .feed-toolbar{
        margin: 0 auto;
        width: 990px !important;
    }

    #nav-main-items{
        margin: 20px 0 10px 0;
    }

    .navbar-wrapp{
        padding: 0px !important;
    }

    .container-fluid .row-fluid{
        overflow: hidden;
    }

    .container-fluid .row-fluid .span3{
        width: 270px;
    }

    .container-fluid .row-fluid .span9{
        width: 720px;
        height: 100%;
        margin-left: 0px;
        border-right: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
    }
    .feed-page .sidebar-nav a{
        font-size: 13px !important;
    }
    .feed-search-bar{
        width: 550px !important;
        margin-left: 140px !important;
    }

    .custom-container .span3{
        padding-right: 10px;
    }
    .custom-container .span9{
        padding-left: 15px;
    }
}
.feed-page .sidebar-nav a{
    font-size: 14px;
    padding: 2px 8px;
}
.feed-page .sidebar-nav .nav-list a span.count-unviewed{
    color: #333;
    text-decoration: none;
}
.feed-page .sidebar-nav .nav-list a span em{
    font-style: normal;
}
.feed-page .sidebar-nav .nav-list .active > a{
    background-color: #fff;
    color: #000;
    font-weight: bold;
    text-shadow: none;
}
.feed-page .sidebar-nav .nav-list .active .icon-black{
    background-image: url("bootstrap/img/glyphicons-halflings.png") !important;
}

.feed-page .well{
    padding: 10px;
}
.feed-wrapp .feed-post-item{
    padding: 5px 10px;
    font-size: 13px;
    border-bottom: 1px solid #E3E3E3;
    overflow: hidden;
    cursor: pointer;
}
.feed-wrapp .feed-post-item:hover{
    background-color: #EDF4F5;
}
.feed-wrapp .feed-post-summary:hover{
    background-color: #FFFFFF !important;
}
.feed-post-item-unviewed a{
    font-weight: bold;
}
.feed-wrapp .feed-post-item .source-name-row{
    overflow: hidden;
    padding-right: 100px;
    position: relative;
}
.feed-wrapp .feed-post-item .source-name{
    color: #51A5BA;
    margin-right: 10px;
    font-weight: bold;
}
.feed-wrapp .feed-post-item .date{
    font-size: 11px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 90px;
    color: #707070;
    text-align: right;
}
.feed-wrapp .feed-post-item .tags{
    margin-right: 5px;
    float: left;
    padding-top: 5px;
}
.feed-wrapp .feed-post-item .tags a{
    margin-right: 2px;
    font-weight: normal;
    line-height: 11px;
    font-size: 11px;
    background-color: #F78F1E;
}
.feed-wrapp .feed-post-item .tags a:hover{
    text-decoration: none;
    background-color: #EDF4F5;
    color: #000;
    text-shadow: none;
}
.feed-wrapp .feed-post-item .tags .icon-tags{
    margin-right: 5px;
}
.feed-wrapp .details .bootom-toolbar{
    overflow: hidden;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 5px;
}

.feed-post-item .icons{
    width: 20px;
}
.post-link{
    color: #242323;
}
.feed-wrapp-bottom{
    padding: 10px 0;
    height: 20px;
    overflow: hidden;
}
.feed-load-more{
    position: relative;
    text-align: center;
    font-size: 12px;
}
.feed-load-more .ajax-loader{
    position: absolute;
    top: 3px;
    left: 50%;
    margin-left: -16px;
    display: none;
}
.feed-load-more a span{
    margin-top: 2px;
}

.feeds-list-toolbar{
    margin-bottom: 30px;
    overflow: hidden;
}
.actions a{
    margin: 0 1px;
}

.feed-refresh{
    text-align: center;
    background: #fff;
    position: absolute;
    z-index: 1000;
    left: 50%;
    margin-left: -60px;
    top: 0px;
    display: none;
}
.feed-post-unviewed .source-name-row{
    margin-bottom: 0px !important;
    overflow: hidden;
}
.feed-wrapp .feed-post-item .image{
    overflow: hidden;
    text-align: center;
    max-width: 100%;
}
.feed-post-summary .post-info .post-link-wrapp{
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;
    display: block;
}

.feed-post-summary{
    max-height: 400px;
    overflow: auto !important;
}
.feed-post-summary .summary img{
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4px;
    max-width: 95%;
}
.feed-post-item  .details{
    display: none;
    margin-top: 5px;
}
.feed-post-unviewed a.post-link{
    font-weight: bold;
}
.feed-post-summary .details{
    display: block;
}
.feed-post-summary{
    overflow: hidden;
    cursor: default !important;
}
.feed-post-summary .summary{
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
}
.feed-post-summary img{
    margin: 5px;
}
.feed-post-summary .summary a{
    color: #000;
    text-decoration: underline;
}
.feed-post-summary .summary a:hover{
    text-decoration: none;
}

/** FORMS **/
form .control-label{
    text-align: left !important;
    width: 250px !important;
}
.form-horizontal .controls{
    margin-left: 250px !important;
}

form .control-group{
    margin-bottom: 10px !important;
}
form  .controls ul.errorlist{
    list-style: none;
    color: red;
    margin: 5px 0 0 0;
}

form .description{
    font-size: 11px;
    color: #a0a0a0;
    line-height: 10px;
}
form input, textarea, .uneditable-input{
    width: 300px;
}
form select{
    width: 313px;
}

.ajax-loader{
    width: 32px;
    height: 32px;
    background: url('images/ajax-loader.gif') no-repeat;
}

.feed-refresh-wrapp,
.feed-refreshing{
    overflow: hidden;
    position: relative;
    height: 30px;
    width: 120px;
    margin: 0 auto;
}
.feed-refresh-wrapp{
    line-height: 30px;
}

.feed-refreshing .ajax-loader{
    position: absolute;
    top: 0px;
    left: 4px;
}
.feed-refreshing .text{
    height: 30px;
    width: 100px;
    position: absolute;
    top: 6px;
    left: 20px;
}
.feed-toolbar{
    padding: 10px 0px 5px 0;
    height: 30px;
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid #E3E3E3;
    position: fixed;
    top: 40px;
    background: #fff;
    z-index: 10;
    width: 100%;
}
.feed-toolbar .span9{
    padding: 0 2px;
    border: 0px !important;
}

.feed-toolbar a.active{
    color: #000;
    font-weight: bold;
}
#feed-is-viewed{
    float: right;
}

.feed-toolbar .btn{
    float: left;
}
.feed-toolbar  .mark-all-as-read{
    float: right;
    margin-right: 5px;
}

.feed-toolbar .btn-refresh .btn{
    margin-right: 5px;
}
.row-main-wrapp{
    padding-top: 46px;
}

.mark-all-as-read .dropdown-menu{
    left: auto !important;
    right: 0px !important;
}
.form-signin-wrapp{
    margin-top: 100px;
}
.form-signin {
    width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.form-signin-heading{
    text-align: center;
}
.form-signin .text-error{
    text-align: center;
}
.form-signin .btn-wrapp{
    text-align: center;
}
.profile-wrapp h4{
    margin-top: 30px;
}

@media (max-width: 600px){

    .feed-toolbar .btn{
        font-size: 10px !important;
        padding: 2px 5px;
    }
}

@media (min-width: 980px){

    .nav-list{
        margin: 42px 0 10px 0;
    }

    .btn-navbar{
        display: none;
    }

    .navbar-wrapp {
        height: auto !important;
        overflow: visible !important;
    }
}

@media (max-width: 980px){

    .feeds-list-wrapp{
        padding-left: 15px;
    }
}


@media (max-width: 800px) {


    .form-signin{
        width: 50% !important;
    }
    .form-signin-heading{
        font-size: 20px;
    }

    .form-signin input[type="text"],
    .form-signin input[type="password"] {
        padding: 3px 9px;
        font-size: 14px;
    }

    .form-custom-fluid{
        width: 100% !important;
        padding: 0px;
    }

    .form-custom-fluid .control-label{
        float: none;
        width: 100%;
    }

    .form-custom-fluid .controls {
        margin-left: 0px !important;
        width: 100%;
    }

    .form-custom-fluid input[type="text"]{
        width: 95%;
    }

    .form-custom-fluid select{
        width: 98%;
    }

    .form-custom-fluid .btn{
        margin-bottom: 5px;
    }

    .post-link-wrapp{
        width: 100%;
        margin: 0 !important;
    }
}

@media (max-width: 400px) {

    .form-custom-fluid .btn{
        width: 100%;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
}

.modal-body form{
    width: 100% !important;
}

.modal-body form input,
.modal-body form textarea,
.modal-body form .uneditable-input,
.modal-body form select{
    width: 80% !important;
}

.nav-settings-btn{
    position: relative;
    text-align: right;
}
.nav-settings-btn .dropdown-menu{
    text-align: left;
    right: 0px;
}
.nav-settings-btn .dropdown-menu li a{
    padding: 0 20px;
}

.modal-body form label.error{
    color: #E9322D;
}
.modal-body form input.error{
    border-color: #E9322D;
}

.sel-item{
    position: relative;
}
.sel-item .count-unviewed{
    position: absolute;
    top: 3px;
    right: 5px;
    font-weight: bold;
}

li.sel-item .dropdown{
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}

li.active .dropdown{
    display: block;
}


li.sel-item .dropdown-menu{
    margin-left: -150px;
}

.sel-item .toolbar{
    text-align: right;
}
.nav-list a.category-link{
    padding-right: 30px;
    margin: 0 0 5px 0;
}

.modal{
    width: 700px;
}

ul.nav-list {
    padding: 0;
}
.nav-list > li > a{
    margin: 0;
}

ul.nav-list li ul.sub-list{
    list-style: none;
    margin: 2px 0 5px 0;
    padding: 0 0 0 25px;
    display: none;
}
ul.nav-list li.active ul.sub-list{
    display: block;
}

ul.nav-list li ul.sub-list li a{
    text-decoration: none;
    display: block;
    position: relative;
    padding-left: 30px !important;
}
ul.nav-list li ul.sub-list li a img{
    position: absolute;
    top: 5px;
    left: 5px;
}
ul.nav-list li a:hover,
ul.nav-list li ul.sub-list li a:hover{
    background-color: #EDF4F5;
}

ul.nav-list li ul.sub-list li.active a{
    color: #000;
    font-weight: bold;
}
ul.nav-list li ul.sub-list li .count-unviewed{
    color: #000 !important;
}
.feed-link{
    position: relative;
}
.sub-list .feed-link .count-unviewed{
    position: absolute;
    top: 0px;
    right: 5px;
}
.mark-all-as-read .category-opt,
.mark-all-as-read .feed-opt{
    display: none;
}
.sub-list a.feed-link span{
    color: #000 !important;
}

.feed-search-bar{
    float: left;
    height: 32px;
    padding-right: 12px;
    margin-top: 6px;
    position: relative;
    width: auto;
    margin-left: 15px;
}
.feed-search-bar em{
    position: absolute;
    top: 6px;
    left: 7px;
}
.feed-search-bar input[type="text"]{
    width: 100%;
    border: 1px solid #E3E3E3;
    padding: 3px 6px 3px 25px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.dropdown-menu > li > a{
    font-size: 12px;
}
.dropdown-menu > li > a em{
    padding-right: 5px;
}

.navbar-inverse .brand {
    width: 100px;
    margin-left: 0px;
    color: #FFFFFF;
}
.custom-container .span9{
    padding-top: 20px;
    font-size: 14px;
}
.custom-container .span3 .nav{
    margin-top: 60px;
}
.custom-container .span3 .nav a{
    font-size: 14px;
}
.custom-container .span3 .nav li.active a{
    color: #1A4652;
    background-color: #FFF;
    font-weight: bold;
    text-shadow: none;
}
.custom-container .span9 h3{
    font-size: 18px;
}
legend{
    font-size: 20px;
    font-weight: bold;
}
.filter-bar{
    overflow: hidden;
    padding: 5px;
}
.filter-bar form{
    margin: 0;
}
.filter-bar .control-label{
    width: 100px !important;
    font-size: 12px !important;
}
.filter-bar .controls{
    margin-left: 100px !important;
}
.filter-bar .control-group{
    margin-bottom: 0 !important;
}
.filter-bar .controls-left{
    float: left;
    padding-right: 10px;
}
.filter-bar .controls-left select{
    width: 120px;
}

.filter-bar select{
    width: 200px;
    height: 26px;
    min-height: 26px;
    line-height: 26px;
    padding: 2px 6px;
}

.feeds-top-bar{
    overflow: hidden;
    padding-bottom: 30px;
}
.feeds-top-bar .filter-bar{
    float: left;
    width: 400px;
    overflow: hidden;
}
form .required{
    color: red;
}
.feeds-list-wrapp{
    padding-right: 15px;
}
.colorpicker-wrapp .add-on i {
    cursor: pointer;
    display: block;
    height: 16px;
    width: 16px;
    margin-top: 2px;
    background-color: #fff;
}
.btn{
    text-shadow: none;
    box-shadow: none;
    font-size: 14px;
    padding: 4px 10px !important;
}
.feed-wrapp{
    position: relative;
}
.feed-wrapp .btn, .feeds-list-toolbar .btn{
    font-size: 12px;
}
.btn-primary{
    background: #1A4652;
}
.btn-primary:hover{
    background: #102C33;
}
.fav-tags{
    padding-bottom: 30px;
}
.fav-tags a.tag{
    margin-right: 10px;
    margin-bottom: 10px;
    background: #1a4652;
    color: #FFFFFF;
    padding: 2px 2px 2px 7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
}

.fav-tags a.tag:hover, .fav-tags a.tag:active{
    text-decoration: none !important;
    background: #102C33;
}
.fav-tags .tag em{
    margin-top: 2px;
}
.table-statistic-details{
    margin-top: 20px;
}
.table-statistic-details .progress {
    margin-bottom: 0px !important;
}
.table-statistic-details .progress .bar{
     background-color: #1a4652 !important;
     background-image: none;
}
.chart-wrapp{
    position: relative;
    width: 680px;
    height: 400px;
}
.chart-wrapp .ajax-loader{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    display: none;
}