{% if form_message %}
<div class="alert alert-success">
    {{ form_message }}
</div>
{% endif %}

{% if form_error %}
<div class="alert alert-error">
    {{ form_error }}
</div>
{% endif %}

{% if form_alert %}
<div class="alert alert-block">
    {{ form_alert }}
</div>
{% endif %}