{% extends "layouts/responsive_layout.html" %}


{% block title %}{% if total_unviewed != 0 %}({{ total_unviewed }}) {% endif %}All posts{% endblock %}

{% block content %}

<div class="feed-toolbar">
    <div class="row-fluid row-fluid-wrapp">
        <div class="span3">
        </div>

        <div class="span9 feed-page" style="position: relative;">
            <div class="feed-wrapp">

                <div class="btn-refresh">
                    <a href="#" class="btn" data-first-post-id="{{first_post_info.id}}" data-feed-id="{{ current_feed_id }}">
                        <span class="icon-refresh"></span>
                        Refresh
                    </a>
                </div>

                <div id="feed-is-viewed" data-selected-value="0" data-offset="{{ feed.offset }}">

                    <div class="posts-buttons btn-group" data-toggle="buttons-radio">
                        <a href="#" class="btn active" data-value="0">
                            Not read
                        </a>
                        <a href="#" class="btn" data-value="">
                            All posts
                        </a>
                    </div>

                </div>

                <div class="mark-all-as-read">
                    <a href="#" class="btn btn-mark">
                        <span class="icon-ok"></span>
                        Mark all as read
                    </a>
                </div>

                <div id="feed-refresh" class="feed-refresh">
                    <div class="feed-refreshing">
                        <div class="ajax-loader"></div>
                        <div class="text">
                            Loading
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid row-fluid-wrapp row-main-wrapp">

    <div class="span3 feed-page sidebar">
        <div class="sidebar-nav">

            <div id="sidebar-wrapp" class="navbar-wrapp collapse">

                <ul class="nav nav-list" id="nav-main-items">

                    <li class="active sel-item">
                        <a class="feed-link" id="all-posts" href="#" data-id="">
                            <em class="icon-list icon-black"></em>
                            All
                            <span class="count-unviewed" {% if total_unviewed == 0 %}style="display: none;"{% endif %}>
                                <em>{{ total_unviewed }}</em>
                            </span>
                        </a>
                    </li>

                    <li class="sel-item" id="saved-posts">
                        <a href="#">
                            <em class="icon-star icon-black"></em>
                            Saved
                        </a>
                    </li>

                    <li class="sel-item" id="important-posts">
                        <a href="#">
                            <em class="icon-exclamation-sign icon-black"></em>
                            Important
                            <span class="count-unviewed" {% if total_important == 0 %}style="display: none;"{% endif %}>
                                <em>{{ total_important }}</em>
                            </span>
                        </a>
                    </li>

                </ul>

                <ul class="nav nav-list" id="nav-categories" style="margin-top: 10px;">

                    {% if categories|length != 0 %}

                        {% for category_id, category_info in categories.items%}
                        <li class="sel-item">
                            <a class="category-link" href="#" data-id="{{category_info.id}}">
                                <i class="icon-folder-close icon-black"></i>
                                <span class="category-title">
                                    {{ category_info.title }}
                                </span>
                                <span class="count-unviewed" {% if category_info.count_unviewed == 0 %}style="display: none;"{% endif %}>
                                    <em>{{category_info.count_unviewed}}</em>
                                </span>
                            </a>
                            <div class="items">

                                {% if category_info.feeds|length != 0 %}
                                <ul class="sub-list">
                                    {% for feed_id, feed_info in  category_info.feeds.items %}
                                    <li>
                                        <a href="#" class="feed-link" data-id="{{ feed_id }}">
                                            <img src="http://www.google.com/s2/favicons?domain={{ feed_info.site_url }}" />
                                            <span class="feed-title">
                                                {{ feed_info.title }}
                                            </span>
                                            <span class="count-unviewed" {% if feed_info.count_unviewed == 0 %}style="display: none;"{% endif %}>
                                                <em>{{ feed_info.count_unviewed }}</em>
                                            </span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}

                    {% endif %}
                </ul>

            </div>

        </div>
    </div>

    <div class="span9 feed-page content">
        <div class="feed-wrapp">

            <div id="new-posts-sep"></div>

            {% if feed.posts|length != 0 %}

            {% for post_info in feed.posts %}
            <div class="feed-post-item {% if post_info.is_viewed == 0 %}feed-post-unviewed{% endif %} cat{{ post_info.category_id }}">

                <div class="source-name-row">

                    <div class="post-info">
                        <span class="icons">
                            <a href="#" class="read-it-later">
                                {% if post_info.read_later %}
                                <em class="icon-star"></em>
                                {% else %}
                                <em class="icon-star-empty"></em>
                                {% endif %}
                            </a>
                        </span>

                        <span class="source-name">
                           {{ post_info.feed_title }}
                        </span>

                        <span class="post-link-wrapp">
                            <a href="{{ post_info.link }}" target="_blank" class="post-link" data-id="{{ post_info.id }}" data-feed-id="{{ post_info.feed_id }}" >
                                {{ post_info.title }}
                            </a>
                        </span>
                    </div>

                     <div class="date">
                        {{ post_info.date_created }}
                    </div>
                </div>

                <div class="details">
                </div>

            </div>
            {% endfor %}
            {% endif %}

            <div id="load-more-posts-sep"></div>

            <div class="feed-wrapp-bottom">
                <div {% if feed.posts|length != feed.limit %}style="display: none;"{% endif %} id="load-more-posts" class="feed-load-more">
                    <a href="#">
                        load more
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    require(['homepage']);
</script>

{% endblock %}