<div class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>
            <%= title %>
        </h3>
    </div>
    <div class="modal-body">
        <p><%= content  %></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-cancel"><%= buttons.cancel.title %></a>
        <a href="#" class="btn btn-primary btn-submit"><%= buttons.submit.title %></a>
    </div>
</div>