<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">


    <link href="{{ STATIC_URL }}styles.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="{{ STATIC_URL }}scripts/lib/require.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/boot.js"></script>


    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body data-csrf-token="{{ csrf_token }}">

    <div class="container-out">

        <div class="menu-bar navbar navbar-inverse navbar-fixed-top">

            <div class="container-fluid">

                <button class="btn-navbar" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="brand" href="/">
                    Reader
                </a>

                <ul class="nav nav-pills pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <em class="icon-cog icon-white"></em>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/feeds/">
                                    <em class="icon-list"></em>
                                    Feeds
                                </a>
                            </li>
                            <li>
                                <a href="/statistic/">
                                    <em class="icon-signal"></em>
                                    Statistic
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/profile/">
                                    <em class="icon-user"></em>
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="/logout/">
                                    <em class="icon-off"></em>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="feed-search-bar">
                    <form method="post">
                        <em class="icon-search"></em>
                        <input class="input-xlarge" id="search-input" {% if  search_string %}value="{{ search_string }}"{% endif %} type="text" placeholder="Search..." autocomplete="off">
                    </form>
                </div>
            </div>
        </div>

        {% block layout_content %}{% endblock %}

    </div>

  </body>
</html>