<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
  <head>
      <title>{% block title %}{% endblock %}</title>

      <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

      <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
      <link href="{{ STATIC_URL }}styles.css" rel="stylesheet" type="text/css" />

      <script type="text/javascript" src="{{ STATIC_URL }}scripts/lib/require.js"></script>
      <script type="text/javascript" src="{{ STATIC_URL }}scripts/boot.js"></script>
  </head>
  {% block layout_content %}{% endblock %}
</html>