{% extends "layouts/base-responsive.html" %}

{% block layout_content %}
    <body data-csrf-token="{{ csrf_token }}">

        <div class="container-fluid">

          <div class="row-fluid custom-container">

                <div class="span3">

                    <div class="sidebar-nav">

                        <div id="sidebar-wrapp" class="navbar-wrapp collapse">

                            {% block menu %}

                                {% load active_item %}
                                {% if menu_items|length != 0 %}
                                <ul class="nav nav-list">
                                    {% for item in menu_items %}
                                    <li class="{% active_item request item.current %}">
                                        <a href="{{ item.url }}">
                                            {{ item.title }}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}

                            {% endblock %}

                        </div>
                    </div>

                </div>

                <div class="span9 content">

                    {% block content %}
                    {% endblock %}

                </div>
            </div>

        </div><!--/.fluid-container-->
    </body>
{% endblock %}