{% extends "layouts/sidebar_layout.html" %}

{% block title %}Reader - Tags{% endblock %}

{% block content %}

<div class="feeds-list-wrapp">

    <legend>
        Tags
    </legend>

    <div class="fav-tags" id="fav-tag">

        {% if tags|length != 0 %}
            {% for tag in tags %}
            <a href="#" class="tag">
                <span>{{ tag}}</span>
                <em class="icon-remove icon-white"></em>
            </a>
            {% endfor %}
        {% endif %}

    </div>

    <form method="post" id="form-new-tag" autocomplete="off">
        <div class="input-append">
            <input class="input-large" id="tag-title" type="text" />
            <button class="btn" type="button" id="btn-add-tag">Add</button>
        </div>
    </form>

</div>

<script type="text/javascript">
    require(['favorite-tags-page']);
</script>

{% endblock %}