<table class="table table-hover table-striped table-condensed table-statistic-details">
    <thead>
        <tr>
            <th>
                Feed
            </th>
            <th style="width: 200px; text-align: center;">
                Count posts
            </th>
            <th style="width: 100px;">
            </th>
        </tr>
    </thead>
    <tbody>

        <% _.each(feeds, function(feed) {

            var p = 0;
            var pTitle = 0;
            if (0!=feed.count){

                pTitle =Math.ceil((feed.count / total * 100) * 100)/100;
                p = pTitle;
                if (p < 1){
                    p = 1;
                }
            }
            %>
        <tr>
            <td>
                <% if (feed.site_url != ""){ %>
                    <img src="http://www.google.com/s2/favicons?domain=<%= feed.site_url %>">
                <% } %>
                <%= feed.title %>
            </td>
            <td style="text-align: center;"><%= feed.count %></td>
            <td>
                <div class="progress" title="<%= pTitle %>%">
                    <div class="bar" style="width: <%= p %>%;"></div>
                </div>
            </td>
        </tr>
        <% }); %>

    </tbody>
</table>