{% extends "layouts/sidebar_layout.html" %}

{% block title %}Reader - Add feed's category{% endblock %}

{% block content %}

<div class="feeds-list-wrapp">

    <legend>
        Add category
    </legend>

    {% load set_var %}
    {% set submit_button = "Add category" %}

    {% include "templates/forms/category.html" %}

</div>
{% endblock %}