{% extends "layouts/sidebar_layout.html" %}

{% block title %}Reader - Categories{% endblock %}

{% block content %}

<div class="feeds-list-wrapp">

    <legend>
        Categories
    </legend>

    <div class="feeds-list-toolbar">
        <a href="/categories/add/" class="btn pull-right">
            Add category
        </a>
    </div>
    <table class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th style="width: 60px;">
                    Actions
                </th>
            </tr>
        </thead>
        {% if categories|length != 0 %}
        <tbody>
            {% for category_id, category_info in categories.items %}
            <tr>
                <td>
                    {{category_info.title}}
                </td>
                <td style="text-align: center;">
                    <div class="actions">
                        <span class="category-info" data-id="{{category_info.id}}" data-title="{{category_info.title}}"></span>

                        <a href="/categories/edit/{{category_info.id}}/" class="icon-pencil" title="Edit"></a>
                        <a href="#" class="icon-remove category-remove" title="Delete"></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>

<script type="text/javascript">
    require(['categories-page']);
</script>

{% endblock %}