{% extends "layouts/login_layout.html" %}

{% block title %}Reader - Login{% endblock %}

{% block content %}

<div class="row-fluid form-signin-wrapp">
    <div class="span12">

      <form class="form-signin" method="post">

        {% csrf_token %}

        <h2 class="form-signin-heading">
            Please sign in
        </h2>

        {% include "templates/form_messages.html" %}

        <input type="text" class="input-block-level" placeholder="Username" name="username" />
        <input type="password" class="input-block-level" placeholder="Password" name="password" />

        <!--
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        -->

        <div class="btn-wrapp">
            <button class="btn btn-large btn-primary" type="submit">
                Sign in
            </button>
        </div>
      </form>

    </div>
</div>

{% endblock %}