<div class="post-item-details">
    <% if (image != ''){ %>
    <div class="image">
        <img src="<%= image %>" />
    </div>
    <% } %>

    <div class="summary">
        <%= summary  %>
    </div>
    <div class="bootom-toolbar">
        <% if (tags.length != 0){ %>
        <div class="tags">
            <em class="icon-tags"></em>
            <% for (i in tags) {  %>
                <a href="#"><%= tags[i] %></a>
            <% } %>
        </div>
        <% } %>
    </div>
</div>