<div class="feed-post-item <% if (is_viewed==0) {  %>feed-post-unviewed<% } %>">

    <div class="source-name-row">

        <div class="post-info">

            <span class="icons">
                <a href="#" class="read-it-later">
                    <% if (read_later == 0){ %>
                        <em class="icon-star-empty"></em>
                    <% } else { %>
                        <em class="icon-star"></em>
                    <% }  %>
                </a>
            </span>

            <span class="source-name">
                <%= feed_title  %>
            </span>

            <span class="post-link-wrapp">
                <a href="<%= link %>" target="_blank" class="post-link" data-id="<%= post_id %>" data-feed-id="<%= feed_id %>">
                    <%= title  %>
                </a>
            </span>

            <div class="date">
                <%= date_created  %>
            </div>
        </div>

    </div>

    <div class="details">
    </div>
</div>