<% if (image != ''){ %>
<div class="image">
    <img src="<%= image %>"  class="img-polaroid" />
</div>
<% } %>

<div class="summary">
    <%= summary  %>
</div>
<div class="bootom-toolbar">
    <% if (tags.length != 0){ %>
    <div class="tags">
        <% for (i in tags) {  %>
            <a href="#" class="label label-inverse"><%= tags[i] %></a>
        <% } %>
    </div>
    <% } %>
</div>