<form class="form-custom-fluid form-horizontal" method="post">

    {% csrf_token %}

    {% include "templates/form_messages.html" %}

    <fieldset>
        <legend>
            Account data
        </legend>

        <div class="control-group">
            <label class="control-label">
                Username
            </label>
            <div class="controls">
                {{ form.username }}
                {{ form.username.errors }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Email
            </label>
            <div class="controls">
                {{ form.email }}
                {{ form.email.errors }}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>
            User's info
        </legend>

        <div class="control-group">
            <label class="control-label">
                First name
            </label>
            <div class="controls">
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                Last name
            </label>
            <div class="controls">
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
        </div>
    </fieldset>

    <div class="control-group" style="margin-top: 30px;">
        <div class="controls">
            <button type="submit" class="btn">
                Save
            </button>
        </div>
    </div>
</form>