<link href="{{ STATIC_URL }}colorpicker/css/colorpicker.css" rel="stylesheet" type="text/css" />

<form class="form-custom-fluid form-horizontal" method="post">

    {% csrf_token %}

    <div class="control-group">
        <label class="control-label">
            Title
            <br />
            <span class="description">
                Title of RSS feed
            </span>
        </label>
        <div class="controls">
            {{ form.title }}
            {{ form.title.errors }}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">
                {{submit_button}}
            </button>
            <a href="/categories/" class="btn">
                Cancel
            </a>
        </div>
    </div>
</form>