<form class="form-custom-fluid form-horizontal" method="post">

    {% csrf_token %}

    {% include "templates/form_messages.html" %}

    <fieldset>
        <legend>
            Change username
        </legend>

        <div class="control-group">
            <label class="control-label">
                Username
                <span class="required">
                    *
                </span>
            </label>
            <div class="controls">
                {{ form.username }}
                {{ form.username.errors }}
            </div>
        </div>

    </fieldset>

    <div class="control-group" style="margin-top: 30px;">
        <div class="controls">
            <button type="submit" class="btn">
                Change username
            </button>
        </div>
    </div>
</form>