<form class="form-custom-fluid form-horizontal" method="post">

    {% csrf_token %}

    {% include "templates/form_messages.html" %}

    <fieldset>
        <legend>
            Change password
        </legend>

        <div class="control-group">
            <label class="control-label">
                Old password
                <span class="required">
                    *
                </span>
            </label>
            <div class="controls">
                {{ form.old_password }}
                {{ form.old_password.errors }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                New password
                <span class="required">
                    *
                </span>
            </label>
            <div class="controls">
                {{ form.new_password }}
                {{ form.new_password.errors }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">
                New password confirmation
                <span class="required">
                    *
                </span>
            </label>
            <div class="controls">
                {{ form.new_password_confirmation }}
                {{ form.new_password_confirmation.errors }}
            </div>
        </div>

    </fieldset>

    <div class="control-group" style="margin-top: 30px;">
        <div class="controls">
            <button type="submit" class="btn">
                Change password
            </button>
        </div>
    </div>
</form>