<div class="filter-bar">
    <form class="form-custom-fluid form-horizontal" method="post">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label">
                Category
            </label>
            <div class="controls">
                {{ filter_form.category }}

                 <button type="submit" class="btn">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>