<form class="form-custom-fluid form-horizontal" method="post">

    {% csrf_token %}

    <div class="control-group">
        <label class="control-label">
            Title
            <br />
            <span class="description">
                Title of RSS feed
            </span>
        </label>
        <div class="controls">
            {{ form.title }}
            {{ form.title.errors }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">
            Category
            <br />
            <span class="description">
                Category of feed
            </span>
        </label>
        <div class="controls">
            {{ form.category }}
            {{ form.category.errors }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">
            Site url
            <br />
            <span class="description">
                Url link to website
            </span>
        </label>
        <div class="controls">
            {{ form.site_url }}
            {{ form.site_url.errors }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">
            RSS url
            <br />
            <span class="description">
                URL to RSS feed
            </span>
        </label>
        <div class="controls">
            {{ form.link }}
            {{ form.link.errors }}
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">
                {{submit_button}}
            </button>
            <a href="/feeds/" class="btn">
                Cancel
            </a>
        </div>
    </div>
</form>