<div class="filter-bar">
    <form class="form-custom-fluid form-horizontal" method="post" id="stat_mont_filter">
        {% csrf_token %}
        <div class="control-group">
            <label class="control-label">
                Year
            </label>
            <div class="controls-left">
                {{ filter_form.year }}
            </div>
            <label class="control-label control-month">
                Month
            </label>
            <div class="controls-left control-month">
                {{ filter_form.month }}
            </div>
        </div>
    </form>
</div>