{% extends "layouts/sidebar_layout.html" %}

{% block title %}Reader - Statistic{% endblock %}

{% block content %}

<div class="feeds-list-wrapp">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#" data-type="month">Days</a>
        </li>
        <li>
            <a href="#" data-type="year">Months</a>
        </li>
    </ul>

    {% include "templates/forms/statistic_month_filter.html" %}

    <div class="chart-wrapp">
        <div class="ajax-loader"></div>
        <canvas id="chart-div" width="680" height="400"></canvas>
    </div>

    <div id="table-statistic-details">
    </div>

</div>

<script type="text/javascript">
    require(['common', 'statistic-page']);
</script>

{% endblock %}